<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/CSS/login.css}">
    <title>Document</title>
</head>
<body>


<div class="formulaire">
    <form action="/register" method="post">
        <label for="name">name :</label>
        <br>
        <input type="text" name="name" id="name">
        <br>
        <label for="email">email : </label>
        <br>
        <input type="email" name="email" id="email">
        <label for="password" >password : </label>
        <br>
        <input type="password" name="password" id="password">
        <br>
        <input type="button" value="submit" id="submit">
        <br>
    </form>
</div>
    <script src="/js/login.js"></script>
</body>
</html>